*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #000000;
    color: #ED2626;
    display: flex;
    justify-content: space-around;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 37px;
    padding: 0 20px;

}